<article class="post">
	<header class="post-header">
		<div class="post-title"> 
			{{ page.title | escape }}
		</div>
		<time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
			{%- assign date_format = site.date_forma | default: "%Y/%m/%d" -%}
			{{ page.date | date: date_format }}
		</time>		
	</header>

	<div class="post-content">
		{{ content }}
	</div>
	<script src="https://utteranc.es/client.js"
        repo="gzgzg2/blog-comments"
        issue-term="pathname"
        label="Comment 🐱"
        theme="github-light"
        crossorigin="anonymous"
        async>
	</script>
</article>